<% content_for :javascript do %>
  <script type="text/javascript">
     ShopifyApp.ready(function(){
       ShopifyApp.Bar.initialize({ title: "Product Customization" });
     });
  </script>
<% end %>
<h1>Editing Product Configration</h1>

<%= render 'form', product_configration: @product_configration %>

<%= link_to 'Show', @product_configration %> |
<%= link_to 'Back', product_configrations_path %>
