<% content_for :javascript do %>
  <script type="text/javascript">
     ShopifyApp.ready(function(){
       ShopifyApp.Bar.initialize({ title: "Product Customization" });
     });
  </script>
<% end %>
<h2 class="text-center">New Product Customization</h3>

<%= render 'form', product_configration: @product_configration %>
